nav {
    width: 100%;
    /* background-color: #555; */
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    padding: 14px 0;
}

.logo {
    width: 180px;
}

nav ul li {
    display: inline-block;
    margin: 5px 20px;
    font-size: 16px;
    list-style: none;
}

.dark-nav {
    background: #000FA0;
    transition: .3s;
    padding-top: 4px;
    padding-bottom: 4px;
}

.menu-icon {
    display: none;
}

/*  ----- media query for 1000px -----*/

@media screen and (max-width: 1000px) {
    .logo {
        width: 140px;
    }

    nav ul li {
        margin: 5px 12px;
    }
}

/* ----- media query for 840px ----- */

@media screen and (max-width: 840px) {
    nav {
        padding: 15px 0;
    }

    nav ul {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background: #212EA0;
        z-index: -1;
        width: 250px;
        padding-top: 70px;
        transition: .5s;
    }

    nav ul li {
        display: block;
        margin: 30px 40px;
        font-size: 20px;
    }

    .menu-icon {
        display: block;
        width: 30px;
    }

    .hide-mobile-menu {
        right: -250px;
    }
}